<div class="modal-header">
    <h5 class="modal-title">Student Profile</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <p><strong>Admission No:</strong> {{ student.admission_number }}</p>
    <p><strong>Name:</strong> {{ student.user.first_name }} {{ student.user.last_name }}</p>
    <p><strong>Email:</strong> {{ student.user.email }}</p>
    <p><strong>Phone:</strong> {{ student.phone_number }}</p>
    <p><strong>Class:</strong> {{ student.classroom.name }}</p>
</div>
